<div class="header">
	<h4 class="header__logo"><%= link_to "TastyTour", root_path %></h4>
	<div class="header__nav-links">
		<p class="header__nav-link"><%= link_to "My List", dining_experiences_path %></p>
		<p class="header__nav-link"><%= link_to "Add New Entry", new_dining_experience_path %></p>
		<p class="header__nav-link"><%=link_to "Logout", destroy_user_session_path, method: :delete %></p>
	</div>
</div>