$color-primary: rgba(193, 102, 107, 1);
$color-secondary: rgba(27, 153, 139, 1);
$color-tertiary: rgba(34, 46, 80, 1);
$color-accent: rgba(229, 89, 52, 1);
$color-gray: rgba(104, 105, 99, 1);
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);