.landing {
	&__container {
		height: 90vh;
		background-color: $color-primary;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	&__buttons {
		display: flex;
		justify-content: center;

		a:link,
		a:visited {
			text-decoration: none;
			color: white;
		}
	}
	
}